.setting-list-item-copilot-auto-completion {
    display: flex;
    align-items: center;
    padding: 0.75em 0;
}

.setting-item-text-area-copilot-auto-completion {
    width: 100%;
    resize: vertical;
    padding: 0.5em;
    margin-top: 0.5em;
}

.loader-placeholder-copilot-auto-completion {
    width: 25px;
    height: 25px;
}
.loader-copilot-auto-completion {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
    animation: rotate-copilot-auto-completion 1s linear infinite
    }
.loader-copilot-auto-completion::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 2px solid #1976d2;
    animation: prix-clip-fix-copilot-auto-completion 2s linear infinite ;
}

@keyframes rotate-copilot-auto-completion {
    100%   {transform: rotate(360deg)}
}

@keyframes prix-clip-fix-copilot-auto-completion {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}
